	
div(id="all")
	h1 Aditi and Scott's Engagement

	h2 Song Queue

	nav
		ul
			li(ng-repeat="song in songs")
				b Song
				p {{song.song}}
				b Artist
				p {{song.artist}}
				button(ng-click='deletePost(song)') Delete Song
				br

