	
div(id="all")
	h1 Real Time Chat

	h2 Type Your Message
	label(for='artist') Name: 
	br
	input(ng-model='song.artist', name='artist')
	br
	br
	label(for='song') Message:
	br 
	input(ng-model='song.song', name='song')
	br
	br
	button(ng-click='submitPost(song)') Submit Msg

	h2 Chat

	nav
		ul(id="list")
			li(ng-repeat="song in songs")
				b {{song.artist}}
				p(class="date") {{song.date}} 
				p {{song.song}}
				br
				p(class="watch" ng-show="watch") {{watch}}

